* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

:root {
  --text-base: #afb6c2;
  --text-title: #d4ccb6;
  --background: #191816;
  --form-background: #24221f;
  --primary-color: #ffc632;
}

body {
  height: 100vh;
  width: 100vw;
  background: var(--background);
}

main {
  display: flex;
  justify-content: space-between;
}

input {
  width: 335px;
  height: 44px;
  background: var(--form-background);
  border: 1px solid #868686;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 16px;
  padding-left: 37px;
  border-radius: 4px;
  color: #a9afb9;
}

.aside-form {
  padding: 45px;
  width: 50%;
}

.content-form {
  width: 572px;
  height: 512px;
  background: var(--form-background);
  margin-top: 126px;
  margin-left: 74px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-form form {
  margin-top: 27px;
  width: 335px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
}

.header-form div {
  display: flex;
  margin-top: 55px;
  gap: 10px;
  width: 100%;
}

.header-form div h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 36px;
  color: var(--text-title);
}

.header-form strong {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 24px;
  color: var(--text-base);
  margin-top: 5px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 24px;
  color: var(--text-base);
  width: 335px;
}

.form-group #email {
  background-image: url(./asserts/mail.svg);
  background-repeat: no-repeat;
  background-position: 13px 11px;
}
.form-group #email:focus {
  background-image: url(./asserts/mail-focus.svg);
  background-repeat: no-repeat;
  background-position: 13px 11px;
  border: 1px solid #ffc632;
  border-radius: 4px;
  box-shadow: 0px 0px 0px 2px #ffde88;
}

.form-group #senha {
  background-image: url(./asserts/lock.svg);
  background-repeat: no-repeat;
  background-position: 13px 11px;
}

.form-group #senha:focus {
  background-image: url(./asserts/lock-focus.svg);
  background-repeat: no-repeat;
  background-position: 13px 11px;
  border: 1px solid #ffc632;
  border-radius: 4px;
  box-shadow: 0px 0px 0px 2px #ffde88;
}

.img-eye {
  width: 20px;
  height: 20px;
  position: relative;
  top: 32px;
  left: 304px;
}

.group-password {
  display: flex;
  justify-content: space-between;
  width: 335px;
  padding: 0;
}

#checkbox {
  visibility: hidden;
}

input#checkbox::after {
  visibility: visible;
  content: "";
  color: var(--form-background);
  background: var(--form-background);
  border: 1px solid var(--text-base);
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 4px;
}

input#checkbox:checked::after {
  content: url(./asserts/check.svg);
  background: var(--primary-color);
}

.check-box-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.check-box-content input {
  width: 20px;
}

.check-box-content input:hover {
  cursor: pointer;
}

.check-box-content label {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.9rem;
  color: #a9afb9;
}

.group-password a {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 2.1rem;
  color: var(--primary-color);
  text-decoration: none;
}

.content-form button {
  width: 334px;
  height: 51px;
  background: var(--primary-color);
  border-radius: 4px;
  border: 0;
  opacity: 87%;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 2.7rem;
  letter-spacing: 0.015em;
  text-transform: uppercase;
  color: #473404;
}

.content-form button:hover {
  cursor: pointer;
  opacity: 100%;
}

.footer-login {
  width: 100%;
  display: flex;
  justify-content: center;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.1rem;
  color: var(--primary-color);
}

.footer-login strong {
  font-weight: normal;
}

.footer-login a {
  font-weight: bold;
  text-decoration: none;
  color: var(--primary-color);
}

.side-image img {
  height: 99vh;
}

/*========responsive=================*/
@media (max-width: 1024px) {
  .content-form {
    margin-top: 0;
    margin-left: 0;
    width: 450px;
  }
}

@media (max-width: 768px) {
  .aside-form {
    width: 100%;
  }

  .content-form {
    margin-top: 0;
    margin-left: 0;
    width: 100%;
    background-color: var(--background-color);
  }

  .side-image {
    display: none;
  }
}
